@media(max-width:1125PX) {
  .catalog__itmes {
    gap: 2px;
  }

  .text__aboutt {
    font-size: 13px;
  }
}

@media(max-width:1075px) {
  .content__hard {
    gap: 32px;
  }

  .text__aboutt {
    max-width: 456px;
  }

  .about {
    max-width: 400px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center !important;
  }

  .text__aboutt {
    max-width: 344px;
  }

  .catalog__itmes {
    flex-wrap: wrap;
    max-width: 782px;
    margin: 0 auto;
    gap: 30px;
  }

  .content__top {
    flex-direction: column;
    align-items: center;
    width: max-content;
  }

  .main__content {
    justify-content: center;
    align-items: center;

  }

  .catalog__content,
  .contacts {
    width: max-content;
  }
}

@media(max-width:1030px) {
  .main__content {
    flex-direction: column;
    width: 100%;
  }

  .content__hard {
    align-items: center;

  }

}

@media(max-width:950px) {
  .img__about {
    width: 750px;
  }
}

@media(max-width:855px) {
  .img__about {
    width: 750px;
  }

  .content__top {
    align-items: center;
  }

  .content__hard {
    align-items: start;

  }
  .catalog__itmes {
    flex-direction: column;
    align-items: flex-start;

  }

  .about__content {
    display: flex;
    max-width: max-content;
margin: 56px auto;
  }

}
@media(max-width:752px){
.nav__content{
  position: fixed;
  flex-direction: column;
  right: 0;
  top: 0;
  padding: 30px;
  backdrop-filter: blur(15px) ;
  bottom: 0;
  z-index: 999;
  box-shadow: -3px 4px 14px 3px rgba(0, 0, 0, 0.54);
  transform: translate(107%);
  transition: 0.3s;
  align-items: flex-end;
  row-gap: 20px;
  margin-bottom: 40px;}
  .header__btn{
    color: #fff;
    display: block;
    border: none;   
    font-weight: 700;
    font-size: 18px;
    background-color: #3E8989;
   }
   .header__btn:focus+.nav__content{
    transform: translate(0);
}
.img__about{
  width: max-content;
}

}
@media(max-width:549px) {
  .nav__header{
    flex-direction: column;
  }
  .img__about{
width: 400px;
  }
}
@media(max-width:487px) {
  .text__button{
    font-size: 33px;
  }
}
@media(max-width:402px) {
  .text__button{
    text-align: center;
 
  }
  .text__aboutt{
    max-width: 300px;
    font-size: 10px;
  } 
   .catalog__itmes {
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    display: inline-block;
  }

  .about {
    display: inline-block;
  }
.nav__input{
  max-width: 190px;
}


  .img__about {
    display: none;
  }

  .content__hard {
    display: ;
    max-width: 290px;
  }
  .catalog__content, .contacts{
    max-width: 300px;
  }
}
@media(max-width:362px) {
  .nav__input{
    max-width: 150px;
  }
  .text__footer{
margin: 0 auto;
max-width: 290px;
  }
  .the__end{
    padding-left: 0;
    margin: 0 auto;
    max-width: 150px;
  }
  .end__content{
max-width: 300px;
  }
}